<template>
    <!--TODO display a project and allow to edit name-->
    <form class="changeProjectName" @submit="changeName">
        <h1>Change name: </h1>
        <input type="text" name="name" placeholder="Project's name" v-model="project.name"/>
        <input type="submit" value="Change" class="quwi_button projectSubmit"/>
        <div class="error projectError" v-if="error.length">
            <span v-for="errorObj in error">{{errorObj.message}}</span>
        </div>
    </form>
</template>
<style lang="scss">
    .changeProjectName {
        display: inline-block;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        .projectError {
            padding: 0.5em 0;
        }
    }
</style>
<script>
	export default {
		data() {
			return {
				project : {
					name : ''
                },
              error: []
			}
		},
		methods: {
            async changeName(e) {
            	e.preventDefault();
            	e.stopPropagation();
                this.error = [];
                if(!this.project.name) {
                    this.error.push({invalidFieldKey: 'name', message: 'Project\'s name shouldn\'t be empty'});
                }
                const data = JSON.stringify(this.project);
                try{
                    const response = await this.$axios.$post('/api/project/'+this.project.id, this.project);
                    this.$router.push('/projects');
                } catch(err) {
                    let errorContent = JSON.parse(err.response.data.error);
                    console.error(errorContent); //TODO support server errors
                }

            	return false;
            }
		},
		async mounted() {
			const id = this.$route.params.id;
			const response = await this.$axios.$get('/api/project/'+id);
			this.project = response.project;
		}
	}
</script>