<template>
    <div class="projects">
        <div @click="$router.push('/projects/'+project.id)" class="project" v-for="project in projects" v-bind:key="project.id">
            <div class="projectLogo">
                <img v-if="project.logo_url" :src="project.logo_url" />
                <span v-else>{{project.shorthandName}}</span>
            </div>
            <div class="projectName">
                {{project.name}}
            </div>
            <div class="projectStatus">
                <span v-if="project.is_active" class="active">active</span>
                <span v-else class="inactive">inactive</span>
            </div>
            <div class="spentTime">
                <span class="spent_time_week">{{project.spent_time_week}}</span>
                <span class="spent_time_month">{{project.spent_time_month}}</span>
                <span class="spent_time_all">{{project.spent_time_all}}</span>
            </div>
        </div>
    </div>
</template>
<style lang="scss">
    @import "../../styles/components/imports/_colors";
    .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 40em;
        margin: 0 auto;
        .project {
            cursor: pointer;
            margin: 1em 0 0 0;
            background: $white;
            border: 1px solid $dark-gray;
            display: flex;
            flex-direction: row;
            height: 5em;
            line-height: 4em;
            padding: 0.5em;
            border-radius: 0.15em;
            &:hover{
                background: $light-gray;
            }
            &:first-child {
                margin: 0;
            }
            .projectLogo {
                height: 100%;
                width: 5em;
                img {
                    height: auto;
                    width: 100%;
                    max-height: 100%;
                    object-fit: cover;
                }
                span {
                    text-transform: uppercase;
                    font-weight: bold;
                    background: $orange;
                    border-radius: 5em;
                    width: 4.5rem;
                    height: 4.5rem;
                    display: block;
                    text-align: center;
                    color: $gray;
                    font-size: 1.5em;
                    line-height: 4.5rem;
                }
            }
            .projectName {
                font-weight: bold;
                width: 35%;
            }
            .projectStatus {
                width: 15%;
                > span {
                    text-transform: capitalize;
                    font-weight: bold;
                    &.active {
                        color: $green;
                    }
                    &.inactive {
                        color: $red;
                    }
                }


            }
            .spentTime {
                flex-grow: 3;
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
                > span {
                    line-height: 1em;
                    text-align: right;
                    &:before {
                        padding: 0 0.5em 0 0;
                    }
                    &.spent_time_week {
                        &:before {
                            content: "time this week:";
                        }
                    }
                    &.spent_time_month {
                        &:before {
                            content: "time this month:";
                        }
                    }
                    &.spent_time_all {
                        &:before {
                            content: "total:";
                        }
                    }
                }
            }
        }
    }
</style>
<script>
	export default {
        data() {
            return {
            	projects: []
            }
        },
        async mounted() {
            const response = await this.$axios.$get('/api/projects');
            let parsedProjects = response.projects.reduce((memo, project) => {
            	let name = project.name;
            	let shorthand = name
                    .split(/\s/)
                    .reduce((memo, item) => {return memo + item[0];}, '')
                    .substr(0, 2);
                if(shorthand.length < 2 && name.length >= 2) {
                	shorthand = name.substr(0, 2);
                }
            	project.shorthandName = shorthand;
            	memo.push(project);
                return memo;
            }, []);
            this.projects = parsedProjects;
        }
	}
</script>