<template>
    <div class="loginTemplate">
        <form class="loginForm" @submit="userLogin">
            <h1>Login</h1>
            <input type="text" name="email" placeholder="Email" v-model="login.email"/>
            <input type="password" name="password" placeholder="Password" v-model="login.password"/>
            <div class="error loginError" v-if="error.length">
                <span v-for="errorObj in error">{{errorObj.message}}</span>
            </div>
            <input type="submit" value="Login" class="quwi_button loginSubmit"/>
        </form>
    </div>
</template>
<style lang="scss">
    .loginTemplate {
        width: 100%;
        height: auto;
        position: relative;
        top: 50%;
        left: 50%;
        max-width: 32em;
        transform: translate(-50%, -50%);
        .loginForm {
            display: flex;
            flex-direction: column;
            > span, input {
                margin: 0.5em 0;
            }
            .loginError {
                display: flex;
                flex-direction: column;
                > span {
                    margin: 0.25em;
                }
            }
            .loginSubmit {
                width: 10em;
            }
        }
    }
</style>
<script>
	export default {
		auth: 'guest',
        layout: 'unauth',
		data() {
			return {
				login: {
					email: '',
					password: ''
				},
                error: []
			}
		},
		methods: {
			async userLogin(e) {
				e.preventDefault();
				this.error = [];
				if(!this.login.email || !/\S+@\S+\.\S+/.test(this.login.email)) {
					this.error.push({invalidFieldKey: 'email', message: 'Enter valid email'});
                }
				if(!this.login.password || this.login.password.length < 6) {
					this.error.push({invalidFieldKey: 'password', message:'Password should not be empty and should contain at least 6 characters'});
                }
				if(!this.error.length) {
                    let response;
                    try {
                        response = await this.$auth.loginWith('local', { data: this.login });
                        this.$auth.setUser(response.data.app_init);
                        this.$router.push("/projects");
                    } catch (err) {
                    	let errorContent = JSON.parse(err.response.data.error);
                        for(let key in errorContent) {
                        	if(errorContent.hasOwnProperty(key)) {
                                for(let errorField in errorContent[key]) {
                                    if(errorContent.hasOwnProperty(key)) {
                                        this.error.push({
                                            invalidFieldKey: errorField,
                                            message: errorContent[key][errorField]
                                        });
                                    }
                                }
                            }

                        }
                    }
                }
				return false;
			}
		}
	}
</script>