@import "./imports/_colors";
.quwi_button {
  border: 1px solid $blue;
  padding: 0.5em 3em;
  text-align: center;
  cursor: pointer;
  height: auto;
  line-height: 1.75em;
  background-color: $blue;
  color: $gray;
  &:hover {
    background-color: $blue-darker;
    border-color: $blue-darker;
  }
}