@import "./imports/_colors";
@import "./imports/_variables";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body, td, textarea, input, select, button {
  color: $black;
  font: 18px $main-font;
  font-weight: 400;
}

.wrapper, #__nuxt, #__layout {
  background: $gray;
  width: 100%;
  height: 100%;
}

input, select {
  border-radius: 0.15em;
  border: 1px solid $dark-gray;
  background: $white;
}

input {
  padding: 0.75em;
}

a {
  color: $blue;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $blue-darker;
  }
}

h1 {
  font-size: 1.1em;
  margin: 0;
  padding: 0.75em 0;
  text-transform: uppercase;
  font-weight: 600;
}
.error {
  font-size: 0.76em;
  color: $red;
}