<template>
    <div class="wrapper">
        <div class="navigation">
            <nuxt-link to="/" class="logo" title="Home"></nuxt-link>
            <div class="nav">
                <nuxt-link to="/projects" title="Projects">Projects</nuxt-link>
                <div class="logout" title="Logout" v-on:click="logout">Logout</div>
            </div>
        </div>
        <div class="content">
            <nuxt/>
        </div>
    </div>
</template>
<script>
	export default {
      methods : {
			logout: async function() {
                await this.$auth.logout('local');
                this.$router.push('/login');
            }
      }
	}
</script>