@import "./components/imports/_colors";
.navigation {
  border-bottom: 1px solid $dark-gray;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
  height: 4em;
  padding: 0.5em 1em;
  background: $light-gray;
  line-height: 3em;
  display: flex;
  flex-direction: row;
  .logo {
    height: 3em;
    width: 3em;
    background: URL('/quwi-logo.png') no-repeat 100% / 100%;
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    > * {
      padding: 0 0.5em;
      cursor: pointer;
      color:$dark-gray;
      text-transform: uppercase;
      transition: 0.3s color ease;
      &:hover {
        text-decoration: underline;
        color: $black;
      }
    }
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.content {
  padding: 1em;
  height: 100%;
}